
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Seu dispositivo '<%= @device.name %>' foi aberto! </h1>
    <p>
      text text text text text text
    </p>
  </body>
</html>